/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Vollkorn', serif;
}

a {
  text-decoration: none;
  color: white;
}

#nav-buttons-box {
  position: fixed;
  top: 20px;
  left: 10px;
}

.nav-button {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 65px;
  height: 60px;
}

#sign-in-button, #sign-out-button, #sign-up-button {
  border: 1px solid #D96F32;
  border-radius: 50%;
}

#site-main {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#notice, #alert {
  padding: 20px;
  width: 100%;
  margin: 20px;
  color: RGBA(212, 108, 53, 1);
}

#page-header {
  position: relative;
  display: block;
  width: 60%;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  white-space: nowrap;
}

.misifu-icon {
  width: 160px;
  border-radius: 50%;
  display: inline;
  margin: 10px;
}

#page-headline {
  display: inline;
  font-family: 'Amatic SC', cursive;
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 6em;
  color: #4E7FBF;
  position: relative;
  top: -50px;
}

#new-restaurant-button {
  width: 120px;
  padding: 20px;
  background-color: #F2913D;
  border-radius: 40px;
}

.restaurant-container {
  background-color: RGBA(242, 191, 94, 0.5);
  padding: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
  float: top;
}

.devise-container {
  margin-top: 20px;
  background-color: RGBA(242, 191, 94, 0.5);
  padding: 20px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.devise-container h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.devise-container * {
  margin-top: 5px;
}

.restaurant-name a {
  font-size: 2em;
}

.restaurant-image-box {
  display: inline-block;
  margin: 10px;
}

.restaurant-text-box {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin: 10px;
}

.edit-or-delete-links {
  font-size: 0.8em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.restaurant-review-box {
  margin: 10px;
  font-size: 1.5em;
  display: inline-block;
  float: right;
}

.restaurant-text-box a, .restaurant-review-box a, .devise-container a {
  color: #D96F32;
}

.restaurant-text-box a:hover, .restaurant-review-box a:hover, .devise-container a:hover {
  color: #F2BF5E;
}

.star-rating {
  color: blue;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

